* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: default;
    user-select: none;
    color: white;
}    

html {
    background: black;
}

h1 {
    font-family: "IBM Plex Mono", sans-serif;
}

nav {
    position: fixed;
    padding: 1%;
    height: auto;
    background: black;
    width: 100%;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header {
    padding-top: 5%;
    padding-left: 1%; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

svg.makeloop-logo {
    width: 100%;
}

svg.makeloop-logo g {
    fill: white;
}

@media screen and (max-width: 900px) {
    nav {
        padding: 5%;
        display: flex; 
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    header {
        padding-top: 20%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    svg.makeloop-logo {
        width: 100%;
    }
}
    