@keyframes color-animation-logo {
    0% {
        fill: white;
    }

    10% {
        fill: lightyellow;
    }

    25% {
        fill: lightgreen;
    }

    50% {
        fill: lightseagreen;
    }

    75% {
        fill: lightpink;
    }

    90% {
        fill: lightsalmon;
    }

    100% {
        fill: lightcoral;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: default;
    user-select: none;
    color: white;
}    

html {
    background: black;
}

h1 {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 62px;
    padding-bottom: 2%;
    text-transform: uppercase;
}

h2 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: rgb(205, 205, 205);
}

nav {
    position: fixed;
    padding: 2%;
    bottom: 0;
    padding-left: 15%;
    padding-right: 15%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(25px);
    box-shadow: rgb(0 0 0 / 50%) 0px -5px 20px 3px;
    width: 100%;
    border-top: solid 0.2px rgb(30, 30, 30);
}

a {
    opacity: 1;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

a:hover {
    opacity: 0.7;
    transition: all 0.3s ease 0s;
}

a:active {
    transform: translateY(3px);
}

nav a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

nav a svg g rect {
    cursor: pointer;
}

nav a svg g path {
    cursor: pointer;
}

header {
    padding-top: 3%;
    padding-left: 15%; 
    padding-right: 15%;
    padding-bottom: 3%;
}

svg.makeloop-logo {
    width: 29%;
    fill: white;
    animation: color-animation-logo 35s linear 3s infinite alternate both;
}

svg.makeloop-logo rect.cls-1 {
    stroke: transparent;
    fill: transparent;
}

@media screen and (max-width: 900px) {
    h1 {
        font-size: 35px;
        padding-bottom: 3%;
    }

    h2 {
        font-size: 18px;
    }

    nav {
        padding: 5%;
        padding-left: 7%;
        padding-right: 7%;
    }

    header {
        padding-top: 10%;
        padding-left: 7%;
        padding-right: 7%;
    }

    svg.makeloop-logo {
        width: 50%;
    }

    .title-div br {
        display: none;
    }
}
    